<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Quake II RTX</string>
	<key>CFBundleDisplayName</key>
	<string>Quake II RTX</string>
	<key>CFBundleIdentifier</key>
	<string>com.nvidia.quake2rtx</string>
	<key>CFBundleExecutable</key>
	<string>q2rtx</string>
	<key>CFBundleIconFile</key>
	<string>q2rtx</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>LSMinimumSystemVersion</key>
	<string>@MIN_MACOS@</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.action-games</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Quake II RTX is released under the GNU General Public License v2.</string>
</dict>
</plist>
